<h1>Listing adstatistics</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adstatistics.each do |adstatistic| %>
      <tr>
        <td><%= adstatistic.type %></td>
        <td><%= link_to 'Show', content_adstatistics_path(@content) %></td>
        <td><%= link_to 'Edit', edit_content_adstatistic_path(@content, adstatistic) %></td>
        <td><%= link_to 'Destroy', [@content, adstatistic], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adstatistic', new_content_adstatistic_path(@content) %>
